body {
    box-sizing: content-box;
    font-size: 20px;
    margin: auto;
    max-width: 1000px;
}

form {
    float: right;
    margin-top: 25px;
    clear: both;
}

input {
    margin-top: 10px
}

.block {
    display: block;
}

img {
    clear: both;
    height: 200px;
    width: auto;
    margin-right: 50px;
    margin-top: 50px;
}

.button {
    background-color: cadetblue;
    border: none;
    color: white;
    padding: 5px 16px;
    margin-right: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
}